<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css" />
<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
  <p>
    <% if (meals.length) { %>
      Meals:
      <ol>
      <% meals.forEach(function(meal) { %>
        <li><%= meal.name %></li>
        <% }) %>
      </ol>
      <% } else { %>
        <h3>No Meals Yet</h3>
      <% } %> 

  </p>
  <form id="add-meal-form" action="/meals/new" method="POST">
    <label for="meal-input">Meal-Food-nom-noms:</label>
    <input type="text" name="name" id="meal-input" autocomplete="off">
    <button type="submit" class="btn btn-outline-success">Add Meal</button>
  </form> 
</main>

<%- include('../partials/footer') %>