<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table class="table table-hover table-bordered"id="list">
    <thead>
      <tr>
        <th scope="col">Airline</th>
        <th scope="col">Airport</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Departure</th>
        <th scope="col">âœˆï¸</th>
        <th scope="col">Cancel</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>
          <td> <form 
            action="/flights/<%= flight._id %>?_method=DELETE" 
            method="POST"
          >
            <button>ğ™“</button>
          </form>
        </td>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>