<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <a href="/flights/<%= flight._id %>/edit">
        <button type="button" class="btn btn-outline-success">Edit Flight</button>
      </a>
      <div>Airline: </div>
      <div><%= flight.airline %></div>
      <div>Airport: </div>
      <div><%= flight.airport %></div>
      <div>Flight Number: </div>
      <div><%= flight.flightNo %></div>
      <div>Departure: </div>
      <div><%= flight.departs %></div>
    </div>
  </section>
  <h2>Add a ticket for this Flight </h2>
  <form 
    id="add-ticket"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-input">Seat #:</label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?" id="seat-input">
    <label for="price-input">Price:</label>
    <input type="text" name="price" id="price-input">
    <button type="submit" class="btn btn-outline-success">Add Seat & Price</button>
  </form>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %> </td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
      <h3>No Tickets Yet</h3>
    <% } %> 
      <h2>Pick a Meal 🍲</h2>
  <form action="/flights/<%= flight._id %>/meals" method="POST">
    <label for="meal-input">Select Meal:</label>
    <select name="mealId" id="meal-input">
    <% meals.forEach(meal => { %>
      <option value="<%= meal._id %>"><%= meal.name %></option>
    <% }) %>
    </select>
    <button class="btn btn-outline-success"type="submit"> Add Meal</button>
  </form>
  <% if (meals.length) { %>
    <table>
      <thead>
        <tr>
          <th>Mealz</th>
        </tr>
      </thead>
      <tbody>
        <% meals.forEach(function(meal) { %>
          <tr>
            <td><%= meal.name %> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
      <h3>No Meals Yet</h3>
    <% } %> 
      <a href="/flights">Go Back</a>

  
<%- include('../partials/footer') %>